*{
  font-family: 'Kanit', sans-serif;
  color:white;
}

body{
  background-color:#222;
  padding:0px;
}

p{
  margin:4px;
}

a{
  text-decoration: none;
}

input,button,select{
  cursor: pointer;
  border-radius: 8px;
  border-style: solid;
  border-color:#cfb991;
  background-color:#444
}

textarea{
  color:#000
}

.btn1{
  transition:0.3s;
  border-radius: 0px;
  border-width: 4px;
  border-color:#cfb991;
  background-color:rgba(0,0,0,0.25);
  font-size:large;
}

.btn1:hover{
  transition:0.3s;
  background-color:#cfb991;
  color:#000;
}

.btn2{
  transition:0.3s;
  border-radius: 0px;
  border-width: 4px;
  border-color:#cfb991;
  background-color:#cfb991;
  font-size:large;
  color:#000;
}

.btn2:hover{
  transition:0.3s;
  background-color:rgba(0,0,0,0.25);
  color:#fff;
}

#catalog{
  display:flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
  border-radius: 8px;
}

.productCard{
  width:27%;
  flex-shrink: 0;
  background-color:#444;
  transition:0.3s;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.75);
  margin: 2%;
  padding: 8px;
}

.productCard:hover{
  transition:0.3s;
  background-color:#333;
}

.product{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  flex-shrink: 0;
  position:relative;
  max-width:600px;
  background-color:#444;
  transition:0.3s;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.75);
  margin: auto;
  padding: 16px;
}

.productImg{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  width:100%;
  max-width:320px;
  position:relative;
}

.imgPrev, .imgNext {
  background-color:rgba(0, 0, 0, 0.25);
  transition:0.3s;
  cursor: pointer;
  position: absolute;
  top:40%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.imgNext:hover{
  transition:0.3s;
  background-color:rgba(0, 0, 0, 0.5);
}
.imgPrev:hover{
  transition:0.3s;
  background-color:rgba(0, 0, 0, 0.5);
}

.imgNext {
  right: 0;
}
.imgPrev {
  left: 0;
}

.dot{
  display:inline-block;
  width:8px;
  height:8px;
  margin:16px 0px 4px 4px;
  border-radius:50%;
}

.productDetail {
  width:240px;
  padding:16px;
}

#contactBtn{
  margin-top:16px;
  width:40%;
  position:absolute;
  bottom:16px;
  right:16px;
}

.productName{
  margin:6px;
  font-size:x-large;
  font-weight: bold;
  color:#cfb991;
}

.product .productName{
  font-size:xx-large;
  text-align:right;
} 

.productPriceContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content:flex-end;
}

.productPrice{
  margin:8px;
  color:#ddd;
}
.productSale{
  margin:6px;
  color:#88ff88;
}
.productOos{
  margin:6px;
  color:#ff8888;
}

#productDescription{
  max-width:600px;
  margin:auto;
}

#productText{
  white-space: pre-wrap;
}

.tag{
  display:inline-block;
  font-size:small;
  margin:2px;
  padding-inline:8px;
  border-radius: 8px;
}

.tag:hover .description {
  display:block;
}

.description {
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  padding:4px 8px;
  border-radius: 4px;
  font-size:small;

  margin-left: -8px;
  margin-top: 4px;
  position: absolute;
  z-index: 1000;
}

#sortsieve{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #222;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.75);
  overflow-x: hidden;
  transition: 0.5s;
  padding-left:16px;
}

.close{
  margin-left:16px;
}

#sortsieve .close {
  font-size: 24px;
  margin-left: 160px;
}

@media screen and (max-width:840px){
  .productCard{
    width:41%;
    margin: 2%;
  }
}

@media screen and (max-width:560px){
  .productCard .productPrice,.productCard .productSale,.productCard .productOos{
    display:block;
  }
}

@media screen and (min-width:1080px){
  .productCard{
    width:21%;
    margin: 1%;
  }
}

@media screen and (max-width:640px){
  .product{
    max-width:360px;
  }
  .product .productName{
    text-align:center;
  }
  .product .productPriceContainer{
    justify-content:center;
  } 

  .productDetail{
    margin-bottom:32px;
  }

  #contactBtn{
    width:92%;
  }

  #productDescription{
    max-width:360px;
  }
}