*{
  font-family: 'Kanit', sans-serif;
  color:white;
}

body{
  background-color:#222;
  margin:0px;
  padding:0px;
}

p{
  margin:4px;
}

a{
  text-decoration: none;
}

input,button,select{
  cursor: pointer;
  border-style: solid;
  border-color:#cfb991;
  background-color:#444
}

textarea{
  color:#000
}

.Navbar{
  width:100%;
  height:48px;
  top:0;
  background-color:#cfb991;
}

#navbarIcon{
  display:block;
  margin:6px auto 0 auto;
}

#hamburger{
  position:absolute;
  font-size:26px;
  color:#000;
  margin:4px 16px 4px 16px;
  cursor: pointer;
}

#mainmenu{
  z-index:2;
  padding-left:0;
  width:216px;
  top:0;
}

.menuItem{
  width: 200px;
  height:40px;
  padding:8px 0 0 32px;
  cursor: pointer;
  background-color:#222;
  color:#fff;
  transition:0.3s;
}

.menuItem:hover{
  background-color:#cfb991;
  color:#000;
  transition: 0.3s;
}

.admin{
  padding-left:32px;
  position: absolute;
  bottom:50px;
}

.admin input{
  margin:4px;
}

.page{
  display:flex;
  justify-content:center;
  position:absolute;
  width:100%;
  height:100%;
}

.flexc{
  flex-direction:column;
}

.flexr{
  flex-direction:row;
}

.Navbar{
  position:fixed;
  z-index: 1;
}

.bgimg{
  position:fixed;
  z-index:-1;
  min-width:100%;
  min-height:100%;
}

#mainicon{
  width:480px;
  height:240px;
  margin:0 auto;
}

.loading{
  opacity:0;
}

.loaded{
  opacity:1;
  transition:1s;
}

.mloading{
  position:relative;
  top:90px;
  opacity:0;
}

.mloaded{
  position:relative;
  top:0px;
  opacity:1;
  transition:1s;
}

.featureCard{
  width:27%;
  flex-shrink: 0;
  background-color:#444;
  transition:0.3s;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.75);
  margin: 2%;
}

.featureName{
  margin:32px;
  text-align:center;
  font-size:x-large;
  font-weight:bold;
  color:#cfb991;
}

.featureDes{
  margin:16px;
  text-align:center;
}

.btn1{
  transition:0.3s;
  border-radius: 0px;
  border-width: 4px;
  border-color:#cfb991;
  background-color:rgba(0,0,0,0.25);
  font-size:large;
}

.btn1:hover{
  transition:0.3s;
  background-color:#cfb991;
  color:#000;
}

.btn2{
  transition:0.3s;
  border-radius: 0px;
  border-width: 4px;
  border-color:#cfb991;
  background-color:#cfb991;
  font-size:large;
  color:#000;
}

.btn2:hover{
  transition:0.3s;
  background-color:rgba(0,0,0,0.25);
  color:#fff;
}

.bigbtn{
  margin:8px;
  padding:4px 32px;
  font-size:larger;
}

#catalog{
  display:flex;
  flex-wrap: wrap;
}

.productCard img {
  width: 100%;
  border-radius: 8px;
}

.productCard{
  width:27%;
  flex-shrink: 0;
  background-color:#444;
  transition:0.3s;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.75);
  margin: 2%;
  padding: 8px;
}

.productCard:hover{
  transition:0.3s;
  background-color:#333;
}

.product{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  flex-shrink: 0;
  position:relative;
  max-width:660px;
  background-color:#444;
  transition:0.3s;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.75);
  margin: auto;
  padding: 16px;
}

.productImg{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  width:100%;
  max-width:360px;
  position:relative;
}

.imgPrev, .imgNext {
  background-color:rgba(0, 0, 0, 0.25);
  transition:0.3s;
  cursor: pointer;
  position: absolute;
  top:150px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.imgNext:hover{
  transition:0.3s;
  background-color:rgba(0, 0, 0, 0.5);
}
.imgPrev:hover{
  transition:0.3s;
  background-color:rgba(0, 0, 0, 0.5);
}

.imgNext {
  right: 0;
}
.imgPrev {
  left: 0;
}

.dotList{
  display:flex;
  justify-content:center;
}

.dot{
  display:inline-block;
  width:8px;
  height:8px;
  margin:16px 4px 0px 4px;
  border-radius:50%;
  cursor: pointer;
}

.productDetail {
  width:240px;
  padding:16px;
}

#contactBtn{
  margin:16px 0px 24px 0px;
  width:40%;
  position:absolute;
  bottom:16px;
  right:16px;
}

.productName{
  margin:6px;
  font-size:x-large;
  font-weight: bold;
  color:#cfb991;
}

.product .productName{
  font-size:xx-large;
  text-align:right;
} 

.productPriceContainer{
  display:flex;
  flex-wrap: wrap;
  justify-content:flex-end;
}

.productPrice{
  margin:8px;
  color:#ddd;
}
.productSale{
  margin:6px;
  color:#88ff88;
}
.productOos{
  margin:6px;
  color:#ff8888;
}

#productDescription{
  max-width:600px;
  margin:auto;
}

iframe{
  display:block;
  margin: 32px auto 32px auto;
  width:600px;
  height:338px;
}

#productText{
  white-space: pre-wrap;
}

.tag{
  display:inline-block;
  font-size:small;
  margin:2px;
  padding-inline:8px;
  border-radius: 8px;
}

.tag:hover .description {
  display:block;
}

.description {
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  padding:4px 8px;
  border-radius: 4px;
  font-size:small;

  margin-left: -8px;
  margin-top: 4px;
  position: absolute;
  z-index: 1000;
}

.menu{
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  background-color: #222;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.75);
  overflow-x: hidden;
  transition: 0.5s;
  padding-left:16px;
}

#sortsieve{
  z-index:1;
  top:48px;
}

.option{
  margin:16px;
}

.close {
  font-size: 24px;
  margin-left: 160px;
}

#mainmenu .close{
  margin-left:176px;
}

@media screen and (max-width:840px){
  .product{
    max-width:360px;
    justify-content:center;
  }
  .product .productName{
    text-align:center;
  }
  .product .productPriceContainer{
    justify-content:center;
  } 

  .productDetail{
    margin-bottom:32px;
  }

  #contactBtn{
    width:92%;
    margin:0px;
  }

  #productDescription{
    max-width:360px;
  }

  iframe{
    width:360px;
    height:203px;
  }
  .productCard{
    width:41%;
    margin: 2%;
  }
}

@media screen and (max-width:560px){
  .productCard .productPrice,.productCard .productSale,.productCard .productOos{
    display:block;
  }

  #mainicon{
    width:360px;
    height:180px;
  }
}

@media screen and (min-width:1080px){
  .productCard{
    width:21%;
    margin: 1%;
  }
}

@media screen and (max-width:640px){

  .featureCard{
    width:80%;
    margin:5%;
  }

  .flexc{
    flex-direction: row;
  }

  .flexr{
    flex-direction: column;
  }
}